* {

padding: 0;

margin: 0;
}
.nav {

background-color: rgb(253, 185, 185);

height: 20px;

padding: 10px;

text-align: center;

margin-bottom: 10px;

}

.banner {

background-color: aqua;

height: 200px;
width: 100%;

filter: grayscale (50%) invert (60%);

}

.content {

background-color: rgb(246, 213, 213);
  height: 400px;
}
.footer {

background-color: rgb(37, 27, 27);

height: 20px;

height: 100px;

}




